.navbar {
  background-color: #ffe600;
  padding: 10px 15px; }
  @media (min-width: 960px) {
    .navbar {
      padding: 10px 0; } }
  .navbar .navbar-brand {
    max-width: 113px;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0px 9px 0 0px; }
    @media (min-width: 960px) {
      .navbar .navbar-brand {
        max-width: 45px;
        margin: 0px 25px 0 0px; } }
  .navbar form {
    width: 1020px; }
    .navbar form input {
      width: 100%;
      border: none;
      padding: 5px 17px;
      height: 29px;
      font-size: 18px;
      color: #999999;
      border-radius: 3px 0px 0px 3px; }
    .navbar form button {
      background-image: url("./search.png");
      background-position: center;
      background-size: 42% auto;
      background-color: #eeeeee;
      border: none;
      height: 39px;
      background-repeat: no-repeat;
      padding: 0 21px;
      border-radius: 0px 3px 3px 0px;
      cursor: pointer; }
